* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.75rem;
}

input {
  width: 100%;
  padding: .25rem .5rem;
  margin-top: .5rem;
}

.formBtn {
  background-color: #007dfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .5rem;
}

.iconBtn {
  background-color: transparent;
  border: none;
}

.fas {
  font-size: large;
  color: #000;
}

::placeholder {
  font-style: italic;
}

.App {
  width: 100%;
  margin: auto;
}

.App > * {
  margin: 1.5rem 1rem;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.Dashboard {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem
}

.Dashboard div {
  padding: 1.25rem;
  display: flex;
  align-items: center;
}

#budgetTotal {
  background-color: #e1e3e4;
  justify-content: space-between;
  column-gap: .5rem;
}

#budgetRemaining {
  background-color: #d5eddb;
}

#budgetSpent {
  background-color: #cbe5ff;
}

#budgetTotal input {
  background-color: #fff;
}

#budgetTotal .fas {
  margin-top: .4rem;
}

#budgetTotal .fa-check-circle {
  color: #43af49;
}

#budgetTotal .fa-times-circle, .negative {
  color: #ea1f25;
}

.AddExpense ul {
  margin: .75rem 0 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

.ExpenseList input {
  margin-top: .75rem;
}

.ExpenseList ul {
  margin: .75rem 0 1rem;
  list-style-type: none;
  height: 250px;
  overflow: auto;
}

.ExpenseList li {
  padding: .75rem;
  border: 1px solid #e1e3e4;
}

.ExpenseItem {
  display: flex;
  justify-content: space-between;
}

.ExpenseItem > div {
  display: flex;
  column-gap: 1.25rem;
}

.expenseCost {
  background-color: #007dfe;
  color: #fff;
  height: 1.5em;
  font-size: small;
  position: relative;
}

.expenseCost::before, .expenseCost::after {
  content: "";
  background-color: #007dfe;
  border-radius: 50%;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  z-index: -1;
}

.expenseCost::before {
  left: -.75em;
}

.expenseCost::after {
  right: -.75em;
}

@media screen and (min-width: 575px) {
  .App {
    max-width: 800px;
  }

  .Dashboard {
    grid-template-columns: repeat(3, 1fr);
  }

  .AddExpense ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
