* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.75rem;
}

input {
  width: 100%;
  padding: .25rem .5rem;
  margin-top: .5rem;
}

.formBtn {
  background-color: #007dfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .5rem;
}

.iconBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.fas {
  font-size: large;
  color: #000;
}

::placeholder {
  font-style: italic;
}

.App {
  width: 850px;
  margin: 1rem auto;
}

.App > div {
  margin: 1.5rem 0;
}

.Dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.Dashboard div {
  padding: 1.25rem;
  display: flex;
  align-items: center;
}

#budgetTotal {
  background-color: #e1e3e4;
  justify-content: space-between;
  column-gap: .5rem;
}

#budgetRemaining {
  background-color: #d5eddb;
}

#budgetSpent {
  background-color: #cbe5ff;
}

#budgetTotal input {
  background-color: #fff;
}

#budgetTotal .fas {
  margin-top: .4rem;
}

#budgetTotal .fa-check-circle {
  color: #43af49;
}

#budgetTotal .fa-times-circle, .negative {
  color: #ea1f25;
}

.AddExpense ul {
  margin: .75rem 0 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.ExpenseList input {
  margin-top: .75rem;
}

.ExpenseList ul {
  margin: .75rem 0 1rem;
  list-style-type: none;
  height: 250px;
  overflow: auto;
}

.ExpenseList li {
  padding: .75rem;
  border: 1px solid #e1e3e4;
}

.ExpenseItem {
  display: flex;
  justify-content: space-between;
}

.ExpenseItem > div {
  display: flex;
  column-gap: 1rem;
}

.expenseCost {
  background-color: #007dfe;
  color: #fff;
  font-size: small;
  padding: 0 .75rem;
  clip-path: ellipse();
}

